nav#nav-bar {
   display: flex;
   padding: 10px;
   justify-content: space-between;
}

div#nav-links-wrapper {
   display: flex;
   align-items: center;
   margin-left: 30px;
}

div.nav-bar-link {
   padding: 3px 8px;
   font-size: 25px;
   border: 1px solid rgb(18, 15, 64);
   margin: 0 7px;
   background-color: rgb(26, 56, 73);
   border-radius: 5px;
   box-shadow: 0 0 10px #939292;
}

.navlink {
   text-decoration: none;
   color: rgb(251, 249, 245);
   font-weight: bold;
}

.navlink:hover {
   font-size: 1.1em;
}

div#my-name {
   display: flex;
   align-items: center;
   font-size: 30px;
   margin-right: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(26, 56, 73);
   text-shadow: -2px 2px 6px #ffffff;
   margin-right: 30px;
}

div#my-name span {
   display: none;
}

@media only screen and (min-width: 1400px) {
   div#my-name span {
      display: inline;
   }
}

@media only screen and (min-width: 1200px) {  
   div#my-name {
      font-size: 50px;
   }
}

div#my-name .profile-pic {
   margin-top: 20px;
   width: 100px;
   border-radius: 60px;
   border: 1px solid rgb(26, 56, 73);
   margin-left: 30px;
   box-shadow: 0 0 10px #1d1c1c;
}

img.contact-icon {
   width: 40px;
   height: 40px;
   margin: 0 15px;
   cursor: pointer;
}

.like {
   width: 40px;
   height: 40px;
   margin: 0 15px;
   background: none;
}

a.icon {
   display: none;
}

div#second-name {
   display:none;
}

span#likes-counter {
   position: relative;
   right: 25px;
   bottom: 15px;
   background-color: crimson;
   color: rgb(255, 255, 255);
   padding: 4px 8px;
   border-radius: 80px;
}

@media only screen and (max-width: 1050px) {
   div.nav-bar-link {
      padding: 3px 8px;
      font-size: 20px;
   }
}

@media only screen and (max-width: 970px) {
   div#my-name p {
      display: none;
   }

   div#nav-links-wrapper.navbar {
      display: none;
   }

   a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin: 30px;
      font-size: 50px;
      color: rgb(26, 56, 73);
      cursor: pointer;
   }

   div#second-name {
      display:inline;
      margin: 30px;
   }

   div#nav-links-wrapper.navbar.responsive {
      position: absolute;
      right: 10px;
      top: 90px;
      display: flex;
      flex-direction: column;
      background-color: rgb(203, 29, 58);
      border-radius: 25px;
      padding: 30px; 
   }

   div#nav-links-wrapper.navbar.responsive .nav-bar-link, div#nav-links-wrapper.navbar.responsive a, div#nav-links-wrapper.navbar.responsive img {
      margin: 10px auto;
   }

   .navlink:hover {
      color: rgba(203, 29, 58, 0.862);
      font-size: 1em;
   }

   div#nav-links-wrapper.navbar.responsive img:hover {
      box-shadow: 0 0 10px #ffffff;
      border-radius: 45px;
   }

   span#likes-counter {
      left: 25px;
      bottom: 65px;
      background-color: white;
      color: crimson;
      font-weight: bold;
   }
}

