div.comment-wrapper {
   width: 250px;
   text-align: center;
}

div.comments-wrapper {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   justify-content: center;
   flex-wrap: wrap;
}

