form {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 30px;
   flex-direction: column;
}

form input[type="submit"] {
   margin: 15px;
   color: white;
   padding: 3px 8px;
   font-size: 20px;
   border: 1px solid rgb(203, 29, 58);
   background-color: rgb(203, 29, 58);
   border-radius: 5px;
   box-shadow: 0 0 10px #939292;
   cursor: pointer;
}

form label {
   margin-top: 10px;
}

form textarea{
   resize: none;
   border-radius: 4px;
}
